Backend/venv/
Backend/__pycache__/
Backend/**/__pycache__/
Backend/db.sqlite3
Backend/*.sqlite3
Backend/media/
Backend/.env

Frontend/node_modules/
Frontend/.next/
Frontend/out/
Frontend/.env.local
Frontend/tsconfig.tsbuildinfo

*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
Frontend/public/uploads/
Frontend/public/*.pdf
Frontend/next-env.d.ts
Backend/Database